<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <style>
    .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: #eee;
      margin: 20px;
      display: inline-block;
    }
  </style>
</head>

<body>
  <h1>Hello World :)</h1>

  <div id="app">
    <div v-if="isShown">
      <!-- <p>{{ title }} - {{ author }} - {{ age }}</p> -->

      <ul>
        <li v-for="quote in quotes">
          <h3>{{ quote.quote }}</h3>
          <p>{{ quote.anime }}</p>
          <p>{{ quote.character }}</p>
        </li>
      </ul>
    </div>

    <br></br>
    <button @click="toggleBooks()">{{ buttonText }}</button>

    <br></br>
    <button v-on:click="age++">Increase age</button>
    <button v-on:click="age--">Decrease age</button>

    <br></br>
    <div @click="changeTitle('Words of Food')">Change book title</div>

    <div class="box" @mouseover="handleEvent($event, 5)">mouseover</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblClick="handleEvent">double click</div>
    <div class="box" @mousemove="handleMousemove">position - x: {{posX}} y: {{posY}}</div>

  </div>

  <script src="./app.js"></script>
</body>

</html>